<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" placeholde="아이디"><br>
    <input type="text" placeholde="비밀번호"><br>
    <button>로그인</button>
</body>
</html>